
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #1f3a5f;
    text-align: center;
}


.features-section {
    background-color: #f5f9ff;
    padding: 20px;
    max-width: 500px;
    margin: 40px auto;
    border: 2px solid #1f3a5f;
}


.features-section ul {
    list-style-type: none; /* remove bullets */
    padding: 0;
}


.features-list li {
    font-family: "Trebuchet MS", Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    padding: 12px 16px;
    margin: 10px 0;
}


.features-list li:hover {
    background-color: #1f3a5f;
    color: white;
    cursor: pointer;
}
